<section ng-controller="HomeCtrl as home" class="container">
    <div class="sidebar column fourth">
        <h1 class="sidebar-title">Chat-With-Me</h1>
        <div ng-repeat="room in home.chatRooms" class="chatrooms" ng-click="home.setRoom(room)">
            <p class="rooms-list">{{ room.name }}</p>
        </div>
        <div class="new-chat-room">
            <button class="btn btn-primary" ng-click="home.openModal()">New Chat Room</button>
        </div>
    </div>
    <div class="message-container">
        <h2 class="message-active-room">{{ home.activeRoom.name }}</h2>
        <p ng-repeat="message in home.activeMessages" class="message-body">
            {{ message.username }} - {{ message.content }} at {{ message.sentAt }}
        </p>
        <div class="new-message" ng-show="home.activeRoom">
            {{ home.currentUser }}:
            <input class="message-input" ng-model="home.newMessage">
            <button class="btn btn-primary" type="button" ng-click="home.sendMessages(home.newMessage)">Send Message</button>
        </div>
    </div>
</section>
