<div class="modal-header">
    <h3 class="modal-title">Create New Chat Room</h3>
    <div class="modal-body">
        <div>
            <input type="text" placeholder="Enter chat room name" ng-model="modal.newRoom.name">

        </div>
    </div>
    <form class="modal-footer" ng-submit="modal.newChatRoom()">
        <button class="btn btn-primary" type="button" ng-click="modal.create(); $close()">Create New Room</button>
        <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancel</button>
    </form>
</div>
